Chest
ChestNew-20250214T104539Z-001
wandb
lightning_logs

best_model_alextnet_checkpoint.pt
best_model_alextnet_nolocalandglobal_checkpoint.pt
best_model_densenet121_checkpoint.pt
best_model_mobilenetv2_checkpoint.pt
best_model_resnet34_checkpoint.pt
best_model_resnet50_checkpoint.pt
best_model_resnet101_checkpoint.pt
best_model_VGG16_checkpoint.pt
best_model_VGG19_checkpoint.pt

best_model.pth
efficientnet_model.pth

ChestNew-20250214T104539Z-001.zip 